.index-main {
  margin: 0px 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 20px 0px;
  border: none;
  margin-bottom: 10px;

  font-size: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.login-form input[type="password"] {
  margin-bottom: 50px;
}

.login-form input[type="submit"] {
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--yellow);
}

.login-form a {
  text-align: center;
  font-size: 17px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: var(--yellow);
  transition: border-color 0.3s ease-in-out;
}
